{% set galleryId = image_gallery.id or 'gallery-' + loop.index %}
{% if image_gallery.caption %}
  <h4 class="photo-grid-caption">{{ image_gallery.caption }}</h4>
{% endif %}
<div class="photo-grid">
  {% for img in image_gallery.images %}
    {% set fullId = galleryId + '-' + img.id %}
    <a href="#{{ fullId }}">
      <img src="{{ img.src | url }}" alt="{{ img.alt }}">
    </a>
  {% endfor %}
</div>

{% for img in image_gallery.images %}
  {% set fullId = galleryId + '-' + img.id %}
  <div class="lightbox" id="{{ fullId }}">
    <a href="#_">
      <figure>
        <img src="{{ img.src | url }}" alt="{{ img.alt }}">
        {% if img.caption %}
          <figcaption class="lightbox-caption">{{ img.caption }}</figcaption>
        {% endif %}
      </figure>
    </a>
  </div>
{% endfor %}